{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="1-start-page">Back</a>

      <h1 class="heading-large">What's the most number of balls you can juggle?
      </h1>

      <form class="form" action="3-juggling-feat" method="post">

        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">What's the most number of balls you can juggle?</legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="juggling-ability" value="One or two balls" 
                {{ checked ('juggling-ability',"One or two balls") }} >
              <label for="radio-1">One or two balls</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="juggling-ability" value="Three or more balls"
                {{ checked ('juggling-ability',"Three or more balls") }} >
              <label for="radio-2">Three or more balls</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="juggling-ability" value="I can't juggle"
                {{ checked ('juggling-ability',"I can't juggle") }} >
              <label for="radio-3">I can't juggle</label>
            </div>

          </fieldset>

        </div>
        <!-- /form-group -->

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
