{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="3-juggling-feat">Back</a>

      <h1 class="heading-large">What can you juggle with?
      </h1>

      <form class="form" action="4-check-your-answers" method="post">

        <div class="form-group">

             <legend class="visually-hidden">What can you juggle with?</legend>

             <div class="multiple-choice">
               <input id="juggle-things-1" name="juggle-things" type="checkbox" value="Balls" checked 
               {{ checked ('juggle-things',"Balls") }} >
               <label for="juggle-things-1">Balls</label>
             </div>

             <div class="multiple-choice">
               <input id="juggle-things-2" name="juggle-things" type="checkbox" value="Clubs"
               {{ checked ('juggle-things',"Clubs") }} >
               <label for="juggle-things-2">Clubs</label>
             </div>

             <div class="multiple-choice">
               <input id="juggle-things-3" name="juggle-things" type="checkbox" value="Swords"
               {{ checked ('juggle-things',"Swords") }} >
               <label for="juggle-things-3">Swords</label>
             </div>
             
             <div class="multiple-choice">
               <input id="juggle-things-4" name="juggle-things" type="checkbox" value="Chainsaws" 
               {{ checked ('juggle-things',"Chainsaws") }} >
               <label for="juggle-things-4">Chainsaws</label>
             </div>

        </div>
        <!-- /form-group -->

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        <div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
