{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="download-code">Back</a>

      <h1 class="heading-large">What happens next?</h1>

      <h2 class="heading-medium">Integrate your code into your service</h2>
      <p>Visit the <a href="https://registers-docs.cloudapps.digital/#technical-user-documentation-for-registers">technical user documentation pages</a> for instruction on how to integrate your component into your service.</p>

    </div>
  </div>

</main>

{% endblock %}
